# Go binary
terraform-provider-graviteeam
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# IDE
.idea/
.vscode/
.codex
.codex/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
